<div class="container">
  <h1>lets start, you can see and list your favorite movies here</h1>
  <p>with just one click here!</p>
  <%= link_to "Get Started", lists_path, class: 'btn btn-primary' %>
</div>
