<div class="container">
  <h1>create a new list</h1>

  <%= simple_form_for @list do |f| %>
      <%= f.input :name, placeholder: 'name of the list' %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>

    <%= link_to "back", lists_path, class: 'btn btn-danger' %>
</div>
